---
import PageLayout from "@/layouts/Base";
import { getCollection } from "astro:content";
import { getUniqueTagsWithCount } from "@/utils";

const allPosts = await getCollection("post", ({ data }) => {
	return !data.draft;  // Only get non-draft posts
});
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	title: "All Tags",
	description: "All tags from my blog posts",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Tags</h1>
	<ul class="space-y-4">
		{
			Array.from(allTags).map(([tag, count]) => (
				<li class="flex items-center gap-2">
					<a
						class="cactus-link inline-block"
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						{tag}
					</a>
					<span class="inline-block">({count})</span>
				</li>
			))
		}
	</ul>
</PageLayout>
